<div class="container main-container">
  <h4>To-Do List - A melhor maneira de fazer acontecer!</h4>
  <hr>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page" >Gerenciamento de tarefas</li>
    </ol>
  </nav>

  <form novalidate [formGroup]="tarefaForm">

    <!--Primeira linha-->
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="titulo">Título</label>  
        <input class="form-control" id="titulo" type="text" placeholder="Título (requerido)" formControlName="titulo">
        <span class="text-danger" *ngIf="tarefaForm.get('titulo').errors && (tarefaForm.get('titulo').dirty || tarefaForm.get('titulo').touched)">
          <p>Preencha o campo título</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="descricao">Descrição</label>
          <input class="form-control" id="descricao" type="text" placeholder="Descrição (requerido)"
            formControlName="descricao">
          <span class="text-danger" *ngIf="tarefaForm.get('descricao').errors && (tarefaForm.get('descricao').dirty || tarefaForm.get('descricao').touched)">
            <p>Preencha o campo descrição</p>
          </span>
      </div>
    </div>
    <!--Fim primeira linha-->

    <!--Segunda linha-->
    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Categoria</label><br>
        <select class="custom-select" formControlName="categoria">
          <option value="Fácil">Fácil</option>
          <option value="Difícil">Difícil</option>
          <option value="Urgente">Urgente</option>
          <option value="Prioritária">Prioritária</option>
        </select>
        <span class="text-danger" *ngIf="tarefaForm.get('categoria').errors && (tarefaForm.get('categoria').dirty || tarefaForm.get('categoria').touched)">
          <p>Selecione uma das categorias acima</p>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label>Data de conclusão</label>
        <input class="form-control" id="data" type="datetime-local" formControlName="dataConclusao">
        <span class="text-danger" *ngIf="tarefaForm.get('dataConclusao').errors && (tarefaForm.get('dataConclusao').dirty || tarefaForm.get('dataConclusao').touched)">
          <p>Preencha o campo data de conclusão</p>
        </span>
      </div>

    </div>
    <!--Fim da segunda linha-->

      <div class="form-group">
        <label>Tarefa concluída?</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="finalizado">
          <label class="form-check-label" for="flexCheckChecked">Concluída</label>
        </div>
      </div><hr>

      <div class="form-group" style="text-align: center;">
          <button class="btn btn-success" id="Registrar" type="submit" (click)="guardaTarefa()" [disabled]="!tarefaForm.valid">Registrar</button>&nbsp;
          <button class="btn btn-primary" id="Limpar" type="reset">Limpar</button>
      </div><hr>
  </form>

  <!--Exibição-->
  <div class="card">
    <h5 class="card-header">Lista de Tarefas</h5>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead style="text-align: center;">
            <td></td>
            <td class="ordena" (click)="sort('id')">
              ID
              <span>{{reverse ? '▲' : '▼'}}</span>
            </td>
            <td>Título</td>
            <td>Descrição</td>
            <td>Finalizado?</td>
            <td class="ordena" (click)="sort('categoria')">
              Categoria
              <span>{{reverse ? '▲' : '▼'}}</span>
            </td>
            <td class="ordena" (click)="sort('dataConclusao')">
              Data de conclusão
              <span>{{reverse ? '▲' : '▼'}}</span>
            </td>
            <td></td>
          </thead>
      
          <tbody style="text-align: center;">
            <tr *ngFor="let tarefa of tarefas | orderBy: key : reverse;">
              <td>
                <button class="text-white btn btn-sm btn-secondary" (click)="atualizaTarefa(tarefa)">Editar</button>
              </td>
              <td>{{tarefa.id}}</td>
              <td>{{tarefa.titulo | titlecase}}</td>
              <td>{{tarefa.descricao}}</td>
              <td><input type="checkbox" [checked]="tarefa.finalizado" disabled></td>
              <td [ngSwitch]="tarefa.categoria">
                <p *ngIf="tarefa.categoria === 'Fácil'" style="color: green;">{{tarefa.categoria}}</p>
                <p *ngIf="tarefa.categoria === 'Difícil'" style="color: rgb(201, 201, 37);">{{tarefa.categoria}}</p>
                <p *ngIf="tarefa.categoria === 'Urgente'" style="color: red;">{{tarefa.categoria}}</p>
                <p *ngIf="tarefa.categoria === 'Prioritária'" style="color: rgb(219, 10, 219);">{{tarefa.categoria}}</p>
              </td>
              <td>{{tarefa.dataConclusao | date: 'dd/MM/yyy, hh:mm'}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-danger" (click)="removeTarefa(tarefa)">Excluir</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--Fim da exibição-->

</div>
