<div class="container main-container">
  <h4>To-Do List - A melhor maneira de fazer acontecer!</h4>
  <hr>

  <form novalidate [formGroup]="tarefaForm">

    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-md-2 control-label" for="titulo">Título</label>
        <div class="col-md-10">
          <input class="form-control" id="titulo" type="text" placeholder="Título (requerido)" formControlName="titulo">
          <span class="text-danger" *ngIf="tarefaForm.get('titulo').errors && (tarefaForm.get('titulo').dirty || tarefaForm.get('titulo').touched)">
            <p>Preencha o campo nome</p>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Descrição</label>
        <div class="col-md-10">
          <input class="form-control" id="descricao" type="text" placeholder="Descrição (requerido)"
            formControlName="descricao">
          <span class="text-danger" *ngIf="tarefaForm.get('descricao').errors && (tarefaForm.get('descricao').dirty || tarefaForm.get('descricao').touched)">
            <p>Preencha o campo descrição</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Data de conclusão</label>
        <div class="col-md-10">
          <input class="form-control" type="datetime-local" formControlName="dataConclusao">
          <span class="text-danger" *ngIf="tarefaForm.get('dataConclusao').errors && (tarefaForm.get('dataConclusao').dirty || tarefaForm.get('dataConclusao').touched)">
            <p>Preencha o campo data de conclusão</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Tarefa concluída?</label>
        <input class="form-check-input" type="checkbox" formControlName="finalizado">
        <label class="form-check-label" for="flexCheckChecked">Concluída</label>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Selecione a categoria</label>
        <select class="form-select" aria-label="Categoria" formControlName="categoria">
          <option selected>Selecionar</option>
          <option value="Facil">Fácil</option>
          <option value="Dificil">Difícil</option>
          <option value="Urgente">Urgente</option>
          <option value="Prioritaria">Prioritária</option>
        </select>
        <span class="text-danger" *ngIf="tarefaForm.get('categoria').errors && (tarefaForm.get('categoria').dirty || tarefaForm.get('categoria').touched)">
          <p>Selecione uma das categorias acima</p>
        </span>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" id="Registrar" type="submit" (click)="guardaTarefa()">Registrar</button></span>&nbsp;
          <span><button class="btn btn-primary" id="Limpar" type="reset">Limpar</button></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <p>Formulário válido: {{tarefaForm.valid}}</p>
            <p>Formulário tocado: {{tarefaForm.touched}}</p>
            <p>Formulário sujo: {{tarefaForm.dirty}}</p><br>
            <p>Formulário: {{formResult}}</p>
        </div>
    </div>

    </div>
  </form>

  <table class="table table-hover table-striped">
    <thead>
      <td></td>
      <td>#</td>
      <td>Título</td>
      <td>Descrição</td>
      <td>Finalizado?</td>
      <td>Categoria</td>
      <td>Data de conclusão</td>
      <td></td>
    </thead>

    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td>
          <button class="text-white btn btn-sm btn-secondary">Selecionar</button>
        </td>
        <td>{{tarefa.id}}</td>
        <td>{{tarefa.titulo}}</td>
        <td>{{tarefa.descricao}}</td>
        <td>{{tarefa.finalizado}}</td>
        <td>{{tarefa.categoria}}</td>
        <td>{{tarefa.dataConclusao}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-danger">Excluir</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
